html {
    font-family: Serif0;
}
body{
    margin: 0;
}
/*header {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 8px solid black;
    padding: 20px 20px 0 20px;
    /*position: fixed;
    margin: 10px;
    box-sizing: border-box;

}*/
header h1 {
    margin: 0;
}

.header {
    background-color: white;
    padding: 0 16px;
    position: fixed;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    top: 0;
}
.sidebar{

    position: fixed;
    left: 0;
    bottom: 0;
    top: 80px;
    width: 300px;
}

.main{
    padding: 16px;
}
.grapper{
    margin-left: 300px;
    margin-top: 85px;

}

.menu{
    padding-left: 0;

    list-style: none;
}

.menu__link{
    display: block;

    padding: 16px;
    color: #000000;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0 50px 50px 0;
    outline: none;
    text-transform: capitalize;
}

.menu__link:hover{
    background-color: rgba(0,0,0,0.1);

}
.menu__link:focus{
    border: 1px solid rgba(0,0,0,0.1);
}
.menu__item .menu__link.menu__link--active{
    background-color: #ffd680;
}